<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel APP</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Acme&family=Nerko+One&display=swap" rel="stylesheet"> 
</head>

    <body>

        <header>
            <div class="">
                Travel APP
            </div>
        </header>

        <main>
            <section>
                <form class="allForm" onsubmit="return Client.handleSubmit(event)">
                    <!-- <label id="startTrip" class="nerko" for="start">Where and when do you wanna travel?</label> -->
                    <div class="form">
                        <label class="nerko"> Where:
                            <input id="name" type="text" name="input" value="" placeholder="Enter travel destination">
                        </label>
                        <form>
                            <label class="nerko"> From:
                                <input type="date" id="start" name="trip-start"
                                       value="" min="2020-11-20" max="2022-12-31">
                            </label>
                            <label class="nerko"> To:
                                <input type="date" id="end" name="trip-end"
                                       value="" min="2020-11-20" max="2022-12-31">
                            </label>
                        </form>
                    </div>
                    <div id="buttonContainer">
                        <input type="submit" id="submitButton" class="nerko" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    </div>
                </form>
                <div class="nerko" id="searchResults"> </div>
            </section>
            <section id="results"> </section>
            <section id="resultsContainer">
                <div id="pic" class="results"></div>
                <div id="weather" class="results nerko" ></div>
            </section>
        </main>

        <footer>
            <p>Travel app by Christian Busse</p>
        </footer>
        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> -->
    </body>
</html>
